body {
	margin:10px;
	background-color: lightpink;
}

#season {
	display: block;
	margin: 0 auto;
	font-size: 15px;
}

#container {
	width: 75% auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h2 {
	text-align: center;
}

.item {
	width: 200px;
    margin: auto;
    border: 3px solid black;
    margin: 10px;
    padding: 5px;
    display: inline-block;
	text-align: center;
	background-color: lightgray;
}

.itemPrice {
	font-size: 20px;
}

.sale {
	color: red;
}